table {
	width: 40rem;
	margin-top: 4rem;
}

.t_header,
.t_insert,
.t_score {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-block: 0.6rem;
}

tr:nth-last-child(2) {
	border-bottom: 2px solid grey;
}

/* TABLE HEADER */
.t_header {
	border-bottom: 2px solid;
	text-align: center;
}

.t_header th {
	min-width: 9rem;
}

/* TABLE INSERT (Dados Inseridos com JS) */
.t_insert {
	border-bottom: 1px solid;
}

.t_insert td,
.t_score td {
	font-size: 0.8rem;
	min-width: 8rem;
	text-align: center;
}

.approved_img {
	margin: auto;
}

/* TABLE SCORE */

.t_score {
	border-bottom: 2px solid grey;
}

.is_approved {
	width: max-content;
	display: block;
	text-align: center;
	margin: auto;
	background-color: #b1b9b1;
	padding: 0.3rem;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
}
