* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62, 5%;
}

body {
	background-color: rgb(236, 241, 240);
}

.wrapper {
	margin: auto;
	width: max-content;
	display: flex;
	align-items: center;
	height: 100%;
}

.content {
	height: min-content;
}

.title {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.title img {
	width: 2.6rem;
}

.title h1 {
	font-size: 1.6rem;
}
